name: EBook

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout markdown documents
        uses: actions/checkout@v2
        with:
          repository: ralfstuckert/vertical-u.wiki
          ref: refs/heads/master
          # GitHub's personal access token with access to `dvag/maven-build-action`
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: false
          path: .
        env:
          GITHUB_ACTOR: ${{ env.GITHUB_ACTOR }}
          
      - name: create file list
        id: files_list
        run: |
          mkdir output 
          rm -f _Sidebar.md
          echo "::set-output name=files::$(printf '"%s" ' *.md)"

      - name: create metadata file
        run: |
          echo "---
          title:
          - type: main
            text: Avoid Vertical Limits in Microservice Architectures
          - type: subtitle
            text: A Sample E-Book
          ---" >> metadata.yaml
          cat metadata.yaml

      - uses: docker://pandoc/latex:2.14.0.3
        with:
          args: -t epub3 --toc --output=output/sample.epub --metadata-file=metadata.yaml ${{ steps.files_list.outputs.files }}
          
      - uses: docker://rappdw/ebook-convert
        with:
          args: output/sample.epub output/sample.mobi
          
      - uses: actions/upload-artifact@master
        with:
          name: output
          path: output
