name: EBook

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout dvag/maven-build-action
        uses: actions/checkout@v2
        with:
          repository: ralfstuckert/pdfbox-layout.wiki
          ref: refs/heads/master
          # GitHub's personal access token with access to `dvag/maven-build-action`
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: false
          path: .
        env:
          GITHUB_ACTOR: ${{ env.GITHUB_ACTOR }}
          
      - name: create file list
        id: files_list
        run: |
          mkdir output 
          rm -f _Sidebar.md
          echo "::set-output name=files::$(printf '"%s" ' *.md)"

      - uses: docker://pandoc/latex:2.14.0.3
        with:
          args: -t epub3 --toc --title=Sample-EBook --output=output/sample.epub ${{ steps.files_list.outputs.files }}
          
      - uses: docker://rappdw/ebook-convert
        with:
          args: output/sample.epub output/sample.mobi
          
      - uses: actions/upload-artifact@master
        with:
          name: output
          path: output
